doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
   
    title Brian Smith's | Dev Blog
    link(rel="icon" type="image/png" href="../img/favicon.png")

    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='../css/clean-blog.min.css', rel='stylesheet')
  body
    // Navigation
    include ../includes/nav.pug
    // Main Content
    .container.content-view
      .row
        .col-lg-8.col-md-10.mx-auto
          div.card
            .row
              .col-md-3
                img(src="../img/profile.jpeg", alt="" height="200px" style="border-top-left-radius: 0.25em; border-bottom-left-radius: 0.25em;")
              .col-md-9
                div(style="padding: 30px")
                  h3 Brian Smith | Software Engineer
                  div(style="padding: 10px; margin-top: 15px").row
                    a(href="https://github.com/bbsmithy" target="blank").card-link
                      img(src="../img/github-logo.png", alt="" height="30px")              
                    a(href="https://www.linkedin.com/in/brian-smith-1845a1147/" target="blank").card-link
                      img(src="../img/linkedIn-logo.png", alt="" height="30px")
                      
          p
            | Hi, my name is Brian i'm a software developer from Dublin Ireland. I'm a fullstack Javascript engineer, using React.js, React Native and also native android development on the front-end. Node.js is what I primarly use for backend.
            | I also enjoy messing around with WebAssemly and Rust for building 2D games on the web.
            | For infrastruture I like to use Amazon Web Serives which allows me to develop scalable applications for a wide variety of applications.
            | I also have an interest in machine learning, currently learning how to build neural networks with Python.
          p
            | I've been working at company called Cartrawler for the past year and half, developing web and mobile applications.
            | I work on a start up called Sweep in my spare time a mobile app for buying and selling cars in the Irish and UK market.

          h3 Projects
          hr
          a(href="https://benildus-college.firebaseapp.com/" target="blank")
            div.card
              .row
                .col-md-4
                  img(src="../img/benildus-site-thumb.png", alt="" height="180px" style="border-top-left-radius: 0.25em; border-bottom-left-radius: 0.25em;")
                .col-md-8
                  div(style="padding: 15px")
                    h5 St.Benildus College | React.js Rebuild
                    span.card-details Rebuild of benildus site with react.js and firebase backend
          br
          a(href="https://github.com/bbsmithy/picky-scrape" target="blank")
            div.card
              .row
                .col-md-3
                  img(src="../img/picky-scrape-logo.png", alt="" height="180px" style="border-top-left-radius: 0.25em; border-bottom-left-radius: 0.25em;")
                .col-md-9
                  div(style="padding: 15px")
                    h5 Picky Scrape | NPM module
                    span.card-details Simple CLI program for scraping websites 
                
          
    hr
    // Footer
    include ../includes/footer
    
    // Bootstrap core JavaScript
    script(src='../vendor/jquery/jquery.min.js')
    script(src='../vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Custom scripts for this template
    script(src='../js/clean-blog.js')
