extends ../views/post.pug

block content
    // Page Header
    .container(style='margin-top: 100px')
      .jumbotron.col-lg-8.col-md-10.mx-auto(style="background-image: url('https://cdn.spacetelescope.org/archives/images/wallpaper2/heic1509a.jpg'); color: white")
        .post-heading
          h1 Python Image Compression with AWS Lamda functions
          h2.subheading A Step by Step Guide
    // Post Content
    article
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            p
                | I recently built an image compression function in Python with AWS Lamada functions. It's a pretty simple script that would get triggered whenever an image was uploaded to my S3 source bucket -> compress the image and upload the compressed version to another S3 bucket ( my target bucket ).
                | I found it quite tricky to get my script set up on AWS Lamda at first as it was my first time workingwith Lamda.
                | I though I'd share how I got this working in a comprehensive step by step guide - as I can imagine image compression is proably quite important to other folks aswell.
            p
                | If your building an app that requires a lot of user generated image storage/downloading e.g Instagram, Tinder - your probably going to want to compress your images
                | before you upload them to your main storage bucket (I like to call this my target bucket) .

                | This will save you a lot of expenses for storage and download transfer when users request images from your target bucket because the images being downloaded are much smaller! Thats class man but how doe shtis work?
            p
                | In this guide we're going to build an image compression script using Python and the PIL library, then we'll zip our script and PIL library using a Docker Linux container.
                | Next we'll go to the lamda console and set up our S3 source bucket trigger and target buckets to a Lamda function. We will then upload our compression script zip to that Lamda.
            p
                | Heres a diagram to illustrate what we will be building. Please excuse this shameful thing below:
            img.img-fluid(src="../img/lamda-article.jpg", alt="lamda-image-compression-trigger-s3-aws")
            //- h2.section-heading The Final Frontier
            //- p
            //-     | There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task
            //-     | to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
            //- p
            //-     | There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task
            //-     | to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
            //- blockquote.blockquote
            //-     | The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy.
            //-     | We predict too much for the next year and yet far too little for the next ten.
            //- p
            //-     | Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical
            //-     | process which mankind is carrying out in accordance with the natural laws of human development.
            //- h2.section-heading Reaching for the Stars
            //- p
            //-     | As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble,
            //-     | the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that
            //-     | if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.
            //- a(href='#')
            //-     img.img-fluid(src='../img/post-sample-image.jpg', alt='')
            //- span.caption.text-muted
            //-     | To go places and do things that have never been done before – that’s what living is all about.
            //- p
            //-     | Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore
            //-     | strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.
            //- p
            //-     | As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our
            //-     | nature, Man must explore, and this is exploration at its greatest.
            //- p
            //-     | Placeholder text by
            //-     a(href='http://spaceipsum.com/') Space Ipsum
            //-     | . Photographs by
            //-     a(href='https://www.flickr.com/photos/nasacommons/') NASA on The Commons
            //-     | .
            include ../includes/disqus.pug