mixin post-preview(title, url, date)
    .post-preview
        a(href='posts/?title='+url)
            h2.post-title=title
        p.post-meta
            | Posted on #{date}
        hr
-  
    var list = [
        {'title': 'Bash: Git search and checkout branches function fbr','date': '20th November 2018','url': 'bash-git-branch-search-and-checkout'},
        {'title': 'Server-side React News App with Next.js','date': '19th November 2018','url': 'server-side-react-news-app-with-nextjs'},
        {'title': 'Building a Node.js CLI Scraping Tool (Picky-Scrape)','date': '28th October 2018','url': 'building-node-scraper-tool-picky-scrape'}
    ]
each item in list
    +post-preview(item.title, item.url, item.date)